extend header

block content
  p.
    Login

block scripts
    script(src='/js/views/login.js')
    script(src='/js/controllers/loginController.js')
    script(src='/js/form-validators/loginValidator.js')